<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--suppress HtmlUnknownTag -->
<!--suppress HtmlRequiredTitleElement -->
<body>

<div th:fragment="foot">
    <!-- Bootstrap core JavaScript -->
    <link href="js/jquery.min.js" th:href="@{js/jquery.min.js}" rel="script"/>
    <link href="js/bootstrap.bundle.min.js" th:href="@{js/bootstrap.bundle.min.js}" rel="script"/>
    <!--   <link rel="script" th:href="@{/bootstrap/js/bootstrap.bundle.min.js}"/> -->

     <!-- Plugin JavaScript -->

    <!-- Custom scripts for this template -->
    <link href="js/custom.js" th:href="@{js/custom.js}" rel="script"/>

</div>
</body>
</html>